:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --white-background: #ffffff;
  --light-background: #f4f4fd;
  --logo-dark-color: #2e2f42;
  --footer-text-color: #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-background);
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-dark {
  color: var(--logo-dark-color);
}

.nav-link {
  font-weight: 500;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.current-link {
  color: var(--pressed-state-color);
}

.contact-link {
  font-style: normal;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state-color);
}

.hero-section {
  background-color: var(--secondary-text-color);
}

.hero-title {
  color: var(--white-background);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.order-button {
  background-color: var(--accent-color);
  color: var(--white-background);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--pressed-state-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.team-section {
  background-color: var(--light-background);
}

.team-member-card {
  background-color: var(--white-background);
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
}

.team-member-position {
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.portfolio-card-category {
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--secondary-text-color);
}

.footer .logo-light {
  color: var(--light-background);
}

.footer-text {
  color: var(--light-background);
  letter-spacing: 0.02em;
}